.topbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
}

.search_area {
  width: 25rem;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search_icon {
  border-radius: 10px;
  background-color: #ddd;
  cursor: pointer;
}

.right_icon {
  cursor: pointer;
  position: relative;
  .p_icon {
    font-size: 1.3rem;
    color: #000;
  }

  .number {
    position: absolute;
    right: -20%;
    top: -70%;
    font-weight: bold;
    color: #ddd;
    background-color: #d41212;
    padding-right: 0.6rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}

// bg color changes when i scroll 500px
.scrolled {
  background-color: red !important;
}
