@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.web_link {
  cursor: pointer;
}

.series {
  width: 100%;
}

.active {
  background-color: red;
  padding: 1rem;
  color: white;
}

// #sidebar {
//   position: fixed;
//   background-color: red !important;
//   width: 30%;
//   z-index: 9999;
//   margin-top: 3rem;
// }
